[user]
    name = Lex Song
    email = LexSong.tw@gmail.com
[core]
    autocrlf = input
    editor = nvim
[init]
    defaultBranch = master
[alias]
    dotfiles = !git --git-dir=.dotfiles --work-tree=.
[credential]
    helper = manager-core
[credential "helperselector"]
    selected = manager-core
