[project]
name = ""
version = "0.0.0"
requires-python = ">=3.13, <3.14"

[tool.ruff]
line-length = 120

[[tool.uv.index]]
name = "pytorch-cu132"
url = "https://download.pytorch.org/whl/cu132"
explicit = true

[tool.uv.sources]
torch = [{ index = "pytorch-cu132" }]
torchvision = [{ index = "pytorch-cu132" }]
